/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }
 main {
    flex: 1 0 auto;
  }
  
  nav ul a {
  padding: 0 10px !important;
}

body {
        background: url('../imgs/background.png') no-repeat center #111111; background-attachment:fixed;
    }

@font-face {
	font-family: 'Kandal';
	src: url('/fonts/kandal/Kandal-BlackItalic.eot');
	src: local('Kandal-BlackItalic'),
		url('/fonts/kandal/Kandal-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/kandal/Kandal-BlackItalic.woff') format('woff'),
		url('/fonts/kandal/Kandal-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

  
 .custom-pink {
  background-color: #f61d72 !important;
}
 .custom-purple {
  background-color: #9300b3 !important;
}
 .custom-red {
  background-color: #cd1408 !important;
}
 .custom-orange {
  background-color: #f07815 !important;
}
 .custom-yellow {
  background-color: #d8940e !important;
}
 .custom-green {
  background-color: #8ec52d !important;
}
 .custom-blue {
  background-color: #376ab9 !important;
}

.custom-pink-text {
  color: #f61d72 !important;
}
.custom-purple-text {
  color: #9300b3 !important;
}
.custom-red-text {
  color: #cd1408 !important;
}
.custom-orange-text {
  color: #f07815 !important;
}
.custom-yellow-text {
  color: #d8940e !important;
}
.custom-green-text {
  color: #8ec52d !important;
}
.custom-blue-text {
  color: #376ab9 !important;
}

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; }
::-webkit-scrollbar { width: 10px; background-color: #F5F5F5; }
::-webkit-scrollbar-thumb { background-color: #5d8a9d; }
::-moz-selection { background: #5d8a9d; color: white; }
::selection { background: #eec374; color: white; }